<div class="container" style="padding-top: 100px; padding-left: 250px;" >


  <form style="background: white; padding: 50px; width: 450px;" ng-submit="signIn()">


    <h5>Sign in with your account</h5>  <h5  style="color:{{resultColor}}" ng-bind="result"></h5>


    <div class="input-field col s6">
      <i class="material-icons prefix">email</i>
      <input  id="icon_prefix" type="text" class="validate" ng-model="email" ng-focus="is = false" required>
      <label for="icon_prefix">Email</label>
    </div> 


    <div class="input-field col s6">
      <i class="material-icons prefix">lock</i>
      <input  id="password" type="password" class="validate" ng-model="pass" ng-focus="is = false" required>
      <label for="password">Password</label>
    </div>

    <div style="padding-left: 30px;">

      <button type="submit" class="btn btn-warning waves-effect waves-light" style="width: 300px;" ng-focus="is = true">Sign In</button>

      <!-- <button type="button" class="btn waves-effect waves-light" ng-click="form1 = true">Signup</button>  -->
    </div>

    <div ng-show="is" class="progress">
     <div class="indeterminate"></div>
   </div>


 </form>
    <div class="container">
    <p style="padding-left: 50px; color: white;"><a href="#">FORGOT PASSWORD?</a></p>
    </div>

    <div class="container">
    <p style="color: white;">Do not have an account? <a href="#">CREATE AN ACCOUNT?</a></p>
    </div>

</div>
